::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #ec017a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d6006a;
}
